.d-text-container {
    text-align: center;
    padding: 10px 0;
}

.d-title {
    font-size: 17px;
    color: #111111;
    font-weight: 500;
}

.d-content {
    color: #444444;
    font-size: 14px;
    padding: 5px 0;
}

.d-icon {
    text-align: center;
    font-size: 60px;
}

.d-warning {
    color: #FF5252;
}