.required-modal-field::after {
    content: '*';
    color: #FF5252;
    font-weight: 500;
    display: inline-block;
}

.modal-field-warning {
    border-color: #AB4340;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.modal-field-warning:focus {
    border-color: #AB4340;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
