.css-6bx4c3 {
    text-transform: none !important;
    font-size: larger;
}

.dialog-backdrop {
    z-index: 1050;
}

.css-1vuw43k,
.css-exhbb1 {
    display: none;
}

.css-hx30u2 {
    box-shadow: unset !important;
    right: 10px;
    background: transparent;
}

.css-6bx4c3 {
    width: 100%;
    height: 100%;
    min-width: 300px;
    padding: unset;
}

.css-al-container {
    width: 100%;
    height: auto;
    min-height: 40px;
    min-width: 300px;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 30px;
}

.css-success {
    border: 0.75px solid #D6E9C5;
    color: #3A773B;
    background-color: #DEF0D7;
}

.css-error {
    border: 0.75px solid #ECCBD1;
    background-color: #F2DEDE;
    color: #AB4340;
}

.css-info {
    border: 0.75px solid #BBE8F2;
    background-color: #D8EDF8;
    color: #2E7091;
}

.css-warning {
    border: 0.75px solid #FBECCA;
    background-color: #FCF8E2;
    color: #8B6D37;
}

.icon-close {
    cursor: pointer;
}

.css-ic-container {
    font-size: 22px;
    text-align: right;
}

.css-icon-msg {
    transform: translateY(-50%);
}

.css-al-msg {
    text-align: left;
}

.css-msg-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
}

.css-msg-container .css-icon-cont {
    font-size: 28px;
    margin: 0 10px;
}

.css-msg-container .css-icon-cont i {
    font-weight: bold;
}

.css-msg-container .css-close-cont {
    font-size: 20px;
    margin: 0 10px;
}

.notification-text {
    text-align: left;
    word-break: break-word;
}